:root {
  --primary: #5a57a5;
  --secondary: #f89f1c;
  --tertiary: #e85ca2;
  --white: #fafafa;
  --light-gray: #C7C5C5;
  --gray: #9B9A9A;
  --dark-gray: #303030;
  --black: #151515;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-black {
  background-color: var(--black);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-white {
  color: var(--white);
}

.color-light-gray {
  color: var(--light-gray);
}

.color-gray {
  color: var(--gray);
}

.color-dark-gray {
  color: var(--dark-gray);
}

.color-black {
  color: var(--black);
}

body, html, #root {
  padding: 0;
  margin: 0;
}

.pointer:hover {
    cursor: pointer !important
}

.shadow-sm {
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}

.shadow {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}

.semibold {
    font-weight: 500 !important
}

.z-1 {
  z-index: -1;
}

.event-card-bg {
  background-image: url('./images/Endless-Constellation.svg')
  /* background by SVGBackgrounds.com */
}

.link {
  color: #5ec8ae;
}
