@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Raleway', sans-serif;
}

body,
html,
#root {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #e68d13;
  --secondary: #2523a1;
  --white: #fafafa;
  --light-gray: #c7c5c5;
  --gray: #9b9a9a;
  --dark-gray: #303030;
  --black: #151515;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-black {
  background-color: var(--black);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-white {
  color: var(--white);
}

.color-light-gray {
  color: var(--light-gray);
}

.color-gray {
  color: var(--gray);
}

.color-dark-gray {
  color: var(--dark-gray);
}

.color-black {
  color: var(--black);
}

.pointer:hover {
  cursor: pointer !important;
}

.semibold {
  font-weight: 500 !important;
}

.container-16-9 {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  height: 100%;
}

.h-full-important {
  height: 100% !important;
}
