:root {
  --background-dark-color: #303030;
}

body, html, #root {
  padding: 0;
  margin: 0;
}

.pointer:hover{
    cursor: pointer !important
}

.shadow-sm {
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}

.shadow {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}

.semibold {
    font-weight: 500 !important
}

.bg-dark {
  background-color: var(--background-dark-color);
}

.z-1 {
  z-index: -1;
}

.event-card-bg {
  background-image: url('./images/Endless-Constellation.svg')
  /* background by SVGBackgrounds.com */
}

.link {
  text-decoration: underline;
  color: #5ec8ae;
}
