name: React CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Stash git changes
        working-directory: /home/calouros/semana-de-recepcao-aos-calouros/
        run: git stash

      - name: Pull git changes
        working-directory: /home/calouros/semana-de-recepcao-aos-calouros/
        run: git pull origin main

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        working-directory: /home/calouros/semana-de-recepcao-aos-calouros/
        run: npm install

      - name: Build App
        working-directory: /home/calouros/semana-de-recepcao-aos-calouros/
        run: npm run build

      - name: Prepare build directory
        run: |
          rm -rf /var/www/semana-de-recepcao-aos-calouros
          mkdir -p /var/www/semana-de-recepcao-aos-calouros

      - name: Deploy build
        run: mv /home/calouros/semana-de-recepcao-aos-calouros/dist /var/www/semana-de-recepcao-aos-calouros/
